<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmp.mapper.LabelDateMapper">

    <insert id="insertLabelData" parameterType="com.pmp.domain.labelData.LabelDataDO">
        INSERT INTO ct_label_data (id, computer_name, patient_id, label_data, create_time)
        VALUES (null, #{computerName}, #{patientId}, #{labelData}, now())
    </insert>

    <select id="selectLabelDataByCondition" parameterType="com.pmp.domain.labelData.LabelDataDO"
            resultType="com.pmp.domain.labelData.LabelDataDO">
        SELECT id,
        computer_name AS computerName,
        patient_id AS patientId,
        label_data AS labelData,
        create_time AS createTime
        FROM ct_label_data
        <where>
            <if test="computerName != null and computerName != ''">
                AND computer_name LIKE CONCAT('%', #{computerName}, '%')
            </if>
            <if test="patientId != null and patientId != ''">
                AND patient_id LIKE CONCAT('%', #{patientId}, '%')
            </if>
            <if test="dateStart != null and dateStart != ''">
                AND create_time &gt;= #{dateStart}
            </if>
            <if test="dateEnd != null and dateEnd != ''">
                AND create_time &lt;= #{dateEnd}
            </if>
        </where>
    </select>

</mapper>